# Ignore the entire farmer/public directory
/farmer/public/
/farmer/www/
/farmer/public/frontend/

# Ignore specific files and directories globally
node_modules
.DS_Store
dist
dist-ssr
*.local
.env
__pycache__/